pipeline/dataflowlogging.json
{
	"name": "dataflowlogging",
	"properties": {
		"activities": [
			{
				"name": "ExecDataFlow",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "summaryStats",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			},
			{
				"name": "Log Data",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ExecDataFlow",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetRowCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "activitylog",
						"type": "DataFlowReference",
						"parameters": {
							"rowswritten": {
								"value": "@activity('ExecDataFlow').output.runStatus.metrics.sink1.rowsWritten",
								"type": "Expression"
							},
							"processingtime": {
								"value": "@activity('ExecDataFlow').output.runStatus.metrics.sink1.sinkProcessingTime",
								"type": "Expression"
							},
							"rowcount": {
								"value": "@activity('GetRowCount').output.firstRow.myrowcount",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			},
			{
				"name": "ExecDataFlow2",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "MovieDemo1_logging",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			},
			{
				"name": "GetRowCount",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ExecDataFlow2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as myrowcount from dbo.movies",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"fn": {
				"type": "String",
				"defaultValue": "myfile.txt"
			}
		},
		"annotations": []
	}
}