pipeline/My Incremental Pipeline.json
{
	"name": "My Incremental Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup_LastVersion",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"dataset": {
						"referenceName": "AzureSQLIncremental_Changes",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_CurrentVersion",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion"
					},
					"dataset": {
						"referenceName": "AzureSqlIncremental_Data",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Incrememental Copy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_LastVersion",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup_CurrentVersion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "select data_source_table.PersonID,data_source_table.Name,data_source_table.Age, CT.SYS_CHANGE_VERSION, SYS_CHANGE_OPERATION from data_source_table RIGHT OUTER JOIN CHANGETABLE(CHANGES data_source_table, @{activity('Lookup_LastVersion').output.firstRow.SYS_CHANGE_VERSION}) as CT on data_source_table.PersonID = CT.PersonID where CT.SYS_CHANGE_VERSION <= @{activity('Lookup_CurrentVersion').output.firstRow.CurrentChangeTrackingVersion}",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"dataIntegrationUnits": 0
				},
				"inputs": [
					{
						"referenceName": "AzureSqlIncremental_Data",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "BlobStoreIncremental",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update Change Tracking",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Incrememental Copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[Update_ChangeTracking_Version]",
					"storedProcedureParameters": {
						"CurrentTrackingVersion": {
							"value": {
								"value": "@{activity('Lookup_CurrentVersion').output.firstRow.CurrentChangeTrackingVersion}",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"TableName": {
							"value": {
								"value": "@{activity('Lookup_LastVersion').output.firstRow.TableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Incremental"
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}