pipeline/pipeline15.json
{
	"name": "pipeline15",
	"properties": {
		"activities": [
			{
				"name": "Dataflow",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "SQLPerf",
						"type": "DataFlowReference"
					},
					"staging": {
						"linkedService": {
							"referenceName": "AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"folderPath": "mycontainer"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "folderout",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata1').output.childItems)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"countfiles": {
				"type": "int"
			}
		},
		"variables": {
			"countoffiles": {
				"type": "String"
			}
		},
		"annotations": []
	}
}