pipeline/SkipLines.json
{
	"name": "SkipLines",
	"properties": {
		"activities": [
			{
				"name": "wheretostart",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "wheredoesmydatabegin",
						"type": "DataFlowReference"
					},
					"integrationRuntime": {
						"referenceName": "myDataFlowCluster",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "wheretostart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"wildcardFileName": "skiplines.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "folderout",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "WriteSkippedRows",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "skipped",
						"type": "DataFlowReference",
						"parameters": {
							"skiplines": {
								"value": "'@{activity('Lookup1').output}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "myDataFlowCluster",
						"type": "IntegrationRuntimeReference"
					}
				}
			}
		],
		"annotations": []
	}
}